# --- Файл с секретами ---
# КРИТИЧЕСКИ ВАЖНО НЕ ДОБАВЛЯТЬ .env В GITHUB!
.env

# --- Виртуальное окружение ---
# Замените .venv на имя вашей папки, если оно другое (например, venv, env)
.venv/
venv/
env/

# --- Кэш Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Файлы IDE / Редакторов / ОС ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# --- Файлы баз данных (если вдруг использовали SQLite ранее) ---
*.sqlite3
*.db

# --- Лог-файлы (если настроите запись в файлы) ---
*.log